:root {
    --main-bg-color: #d3e6f7;
    --sub-bg-color: #bdd0fa;
    --name-header-color: #273242;
    --font-color: rgb(51, 51, 51);
  }

/* main body */
body {
    background-color: #ffffff;
}

div#header {
    background-color:rgb(10, 10, 10);
    background-image: url("./imgs/header2.png");
    background-size: contain;
    padding-top: 15vh;
    padding-bottom: 5vh;
    border-bottom: 10px solid #343f63;
}

div#header #title-header {
    font-size: 7.5vw;
    color: rgb(190, 197, 233);
    font-family: 'Bebas Neue', sans-serif;
}

div#header #title-header span {
    color: rgb(247, 65, 74)
}

div#header #subtitle-header {
    font-weight: 200; 
    font-size: 1.5vw;
    color: rgb(227, 231, 252);
    font-family: "Roboto", sans-serif;
}

div#header #authors {
    font-weight: 100; 
    font-size: 1.2vw;
    color: rgb(227, 231, 252);
    font-family: "Roboto", sans-serif;
}

div#header .headers {
    text-align: left;
    padding-bottom: 1vh;
    padding-left: 10vh;
}

@media (max-width: 1300px) {
    /* moblie devices */
    div#header {
        background-image: url("./imgs/headerMoblie.png");
        padding-top: 15vh;
    }

    div#header div#title-container {
        background-color:rgba(10, 10, 10, 0.94);
        padding: 3vh 0;
    }

    div#header #authors {
        font-size: 2vh;
    }

    div#header #title-header {
        font-size: 11vh;
    }

    div#header #subtitle-header {
        font-size: 2.5vh;
    }

    div#header .headers {
       text-align: center;
       padding-left: 0;
    }
}

body div#main {
    padding: 5vh 0;
}

@media (max-width: 1000px) {
    /* moblie devices */
    .article-text {
       margin-left: 2%;
       margin-right: 2%;
    }
}

@media (min-width: 1200px) {
    .article-text {
        margin: 0 20%;
    }
}

p.article-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    line-height: 1.8;
}

.sub-headers {
    color: #173f77;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 2.5em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.topic-headers {
    color: #456797;
    padding: 10px 0;
}

.viz-headers {
    font-family: 'Roboto', sans-serif;
}

h4.viz-headers {
    padding: 12px 0;
    color:rgb(18, 33, 66);
    text-align: center;
}

a {
    color: rgb(110, 108, 190);
}

a:hover {
    color: rgb(53, 52, 90);
    font-weight: 400;
}

div#twitter-trend-ex {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

img#twitter-trend-img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 2%;
}

/* visualization for intro cancelled individuals + controls  */

div#intro-celeb-viz {
    padding: 2vh 0;
}

div#intro-celeb-viz .row {
    text-align: center;
    justify-content: center;
}

div#intro-celeb-viz div#cancel-hiphop {
    padding-top: 15px;
}

div#intro-celeb-viz div#cancel-pop {
    padding-top: 15px;
}

div#intro-celeb-viz div.celeb-img-container {
    width: auto;
    position: relative;
    display: inline-block;
    margin: 10px;
    padding-top: 10px; 
    background-color: var(--main-bg-color);
    border-radius: 5%;
    transition: background-color 0.5s;
}

div#intro-celeb-viz div.celeb-img-container:hover {
    background-color: var(--sub-bg-color);
    box-shadow: 4px 4px 4px rgb(107, 107, 107);
}

div#intro-celeb-viz img {
    width: 85px;
    height: auto;
    border-radius: 50%;
    border: 3px solid white;
}

div#intro-celeb-viz div.control-viz1-img img {
    width: 65px;
    height: auto;
}

/* tooltip  */
div#intro-celeb-viz div.celeb-img-container .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: var(--sub-bg-color);
    font-size: 0.9em;
    color: var(--font-color);
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3%;
  
    /* tooltip position */
    position: absolute;
    z-index: 1;
    top: 5%;

    /* transition */
    opacity: 0;
    transition: opacity 0.5s;
}

div#intro-celeb-viz div.celeb-img-container .left-tooltip {
    margin-left: -350px;
}

div#intro-celeb-viz div.celeb-img-container .right-tooltip {
    margin-left: 110px;
}

div#intro-celeb-viz div.celeb-img-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

div#intro-celeb-viz h3 {
    color: #5567a3;
}

div#intro-celeb-viz h5 {
    color:rgb(34, 58, 94);
}

div#intro-celeb-viz div.celeb-img-container h5 {
    color:var(--name-header-color);
    padding-top: 5px;
}

div#intro-celeb-viz div.celeb-img-container p {
    text-align: center;
    font-size: 0.85em;
    color: var(--font-color);
}

div#intro-data-viz {
    position: relative;
    display: inline-block;
    justify-content: center;
}

div#intro-data-viz div#data-tables {
    margin: 0 20%;
    text-align: center;
}

div#intro-data-viz table {
    background-color: var(--main-bg-color);
}

div#intro-data-viz th {
    color: var(--font-color);
    font-size: 1em;
}

div#intro-data-viz tr:hover {
    background-color: var(--sub-bg-color);
}

div#intro-data-viz td.artists {
    font-size: 1em;
    width: 15%;
}

div#intro-data-viz td.tweet-num {
    font-size: 1em;
}

div#intro-data-viz td {
    color: var(--font-color);
    font-family: "Roboto", sans-serif;
    font-size: 0.75em;
}

@media (max-width: 1300px) {
    /* moblie devices */
    div#intro-data-viz div#data-tables{
       margin: 0;
    }
}

/* sentiment example viz */
div#sentiment-ex {
    text-align: center;
    margin: 10px 0;
}

div#sentiment-ex div {
    background-color: var(--main-bg-color);
    color: var(--font-color);
    margin: 10px auto;
    padding-top: 10px;
    width: 470px;
    font-family: "Roboto", sans-serif;
    border: 2px solid var(--sub-bg-color);
}

div#sentiment-ex div h5#pos-ex {
    color:rgb(53, 129, 91);
    font-size: 1.2em;
}

div#sentiment-ex div h5#neg-ex {
    color:rgb(218, 56, 91);
    font-size: 1.2em;
}

div#fandom-viz {
    padding: 20px 0;
}

div#fandom-viz .row {
    justify-content: center;
}

div#fandom-viz .legend {
    display: inline;
    justify-content: center;
}

div#fandom-viz div#legend h5 {
    padding-left: 33%;
    color: #343f63;
}

div#fandom-viz div#legend button {
    width: auto;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

div#fandom-viz div#legend button:focus, 
div#fandom-viz div#legend button:hover,
div#fandom-viz div#legend button:active,
div#fandom-viz div#legend button.active {
    /* changes background color of button */
    background-color: var(--name-header-color);
}

div#fandom-viz h5 {
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
}

div#fandom-viz h5#fandom-strong-header {
    color: var(--name-header-color);
}

div#fandom-viz h5#fandom-weak-header {
    color: var(--name-header-color);
}

div#fandom-viz div.indiv-box {
    width: 180px;
    height: 120px;
    position: relative;
    margin: 2px;
    padding: 12px;
    display: inline-block;
    border-radius: 5%;
    transition: 0.5s;
}

div#fandom-viz div.fandom-strong {
    background-color: var(--sub-bg-color)
} 

div#fandom-viz div.fandom-weak {
    background-color: var(--main-bg-color);
} 

div#fandom-viz div.indiv-box img {
    width: 60px;
    height: auto;
    float: right;
    border-radius: 50%;
    border: 2px solid white;
}

div#fandom-viz div.indiv-box h5 {
    text-align: left;
    padding-top: 5px;
    color: var(--name-header-color);
    font-size: 1.1em;
}

div#fandom-viz div.indiv-box p {
    color: var(--font-color);
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
}

div#results div.chart-container {
    padding: 20px 0;
}

/* type viz */
div#type-charts {
    background-color: var(--main-bg-color);
    margin: 0 80px;
    padding-left: 2%;
    padding-top: 10px;
}

/* background viz */

div#bg-plot-viz {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

@media (min-width: 1000px) {
    div#type-charts { 
        display: flex;
    }

    div#bg-plot-viz {
        flex-direction: row;
    }
}

div#bg-plot-viz > * {
    flex: 1;
}

div#bg-charts {
    background-color: var(--main-bg-color);
    width: auto;
    padding-left: 2%;
}

figure.sticky {
    align-items: center;
    align-self: flex-start;
    display: flex;
    margin: 1% 0;
    padding: 10px;
    top: 15%;
    left: 0;
    background-color: var(--sub-bg-color);
    margin-left: 50px;
    max-width: 40%;
    height: auto;
}

@media (min-width: 1000px) {
    figure.sticky {
        position: sticky;
    }
}

figure.sticky p {
    padding: 15px;
    text-align: left;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

div#methodology {
    padding-top: 1vh;
    padding-bottom: 10vh;
    background-color: rgb(15, 15, 15);
}

@media (max-width: 1000px) {
    /* moblie devices */
    div#methodology .article-text {
       margin-left: 2%;
       margin-right: 2%;
    }
}

@media (min-width: 1200px) {
    div#methodology .article-text {
        margin: 0 25%;
    }
}

div#methodology h2 {
    color: rgb(190, 197, 233);
}

div#methodology p {
    font-size: 0.9em;
    color: white;
}